%h1 Группы
%table.bordered-table
  %thead
    %tr
      %th Номер группы
      %th Кол-во студ.
      %th Номер плана
      %th Семестер
      %th Факультет
      %th
      %th
  %tbody
    - @groups.each do |group|
      %tr
        %td= link_to group.numb_gr,edit_group_path(group)
        %td= group.gcount
        %td= group.plan_id
        %td= group.semester_id
        %td= group.faculty.short_name
        %td= link_to 'Посмотреть', group
        %td= link_to 'Удалить', group, :confirm => 'Are you sure?', :method => :delete

.actions
  = link_to 'Новая группа', new_group_path, :class=>"btn primary"
