= form_for @plan do |f|
  -if @plan.errors.any?
    .alert-message
      %h2= "при сохранении возникли ошибки:"
      %ul
        - @plan.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :id
    = f.number_field :id
  .actions
    = f.submit 'Сохранить'
