!!!
%html
  %head
    %title Расписание
    = stylesheet_link_tag 'application','bootstrap', 'jquery-ui-1.8.16.custom', 'token-input-facebook'  
    =javascript_include_tag 'application', 'jquery.tokeninput','jquery-ui-1.8.16.custom.min'
    = csrf_meta_tag
%br
%br
%br
  %body
    .topbar= render 'layouts/tray'
    .container-fluid
      .sidebar
        
        = render 'layouts/menu'
      .content
        -unless notice.blank?
          .msg.done=notice
        -unless flash[:error].blank?
          .msg.error=flash[:error]
        = yield
        = render 'layouts/footer'

